.configGuide{
  p{
    font-size: 14px;
  }

  .square{
    border: #ffcdc0 solid thin;
    border-radius: 2px;
    background-color: rgba(255, 205, 192, 0.47);
    padding: 0 3px;
  }

  img{
    border: #ffcdc0 solid medium;
  }

  h6{
    margin-top: 15px;
  }
}
