.videoComponent {
  display: inline-block;
  margin: 10px;

  .card {
    .card-img {
      margin: 0;
      object-fit: cover;
      width: 180px;
      height: 300px;
    }

    .card-img-overlay {
      background: url("../../images/download.svg") no-repeat;
      background-size: 40%;
      background-position: 50%;
      opacity: 0.7;
      cursor: pointer;
      width: 180px;
      height: 300px;
    }

    .card-body {
      font-size: 16px;
      text-align: center;
      padding: 0.5rem;
    }


  }
}
