.fbReferenceUpload {
  margin-top: 20px;

  .configContainer {
    margin-bottom: 20px;
  }

  .configFileName {
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
  }

  .uploadFileInfo {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
  }
}